body{
  box-sizing: border-box;
  background-color: rgb(10, 0, 0);
}

.container{
  display:grid;
  height:100vh;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: .2fr 1fr 1fr  1fr .2fr;
  grid-gap: .5em;
grid-template-areas: 
"main main main main" 
"content1 content2 content2 content3"
"content4 content5 content5 content6"
"content7 content7 content8 content8"
"footer footer footer footer"
}
main{
grid-area: main;
background-color: white;
}
#content1{
grid-area:content1;
background-color: beige;
}
#content2{
  grid-area:content2;
  background-color: white;
  padding: 1%;
  color:blue;
  font-size: 25px;
  font-family:'Segoe UI';
}
#content3{
  background-color:beige;
  grid-area:content3;
}
#content4{
  background-color: beige;
  grid-area:content4;
}
#content5{
  background-color: beige;
  grid-area:content5;
  padding: 1%;
  color:blue;
  font-size: 25px;
  font-family:'Segoe UI';
  }
  #content6{
    background-color: beige;
    grid-area:content6;
  }
  #content7{
    background-color: beige;
    grid-area:content7;
  }
  #content8{
    background-color:beige;
    grid-area:content8;
    padding: 1%;
    color:blue;
    font-size: 25px;
    font-family:'Segoe UI';
  }
  .img1{
    height:210px;
  }
  .img2{
    height: 210px;
  }
  footer{
    grid-area:footer;
    background-color: white;
    }
@media only screen and (max-width: 1000px) and (min-width: 760px) {
  body {
    background-color: pink;
  }
}

@media only screen and (max-width: 760px) and (min-width: 600px)  {
  body {
    background-color: red;

  }
}
@media only screen and (max-width: 600px){
  body {  
background-color: beige;
.container {
   grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
  grid-template-areas:
  "main main"
  "content1 content3"
  "content2 content2"
  "content4 content6"
  "content5 content5"
  "content7 content7"
  "content8 content8"
  "footer footer";
  grid-gap: .1em;
}
#content1{
  background-color: beige;
  margin-left: 70px;
}

#content2{
  background-color: beige;
  
}

#content3{
  background-color:beige;
  margin-left: 0px;
}

#content4{
  background-color: beige;
  margin-left: 75px;
}

#content6{
  background-color: beige;
}

#content7{
  background-color: beige;
  margin: auto;
  
}
}
}